{% extends 'base.html' %}
{% load widget_tweaks %}
{% block head %}
    <title>Change password</title>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">

        <div class="col-md-6 my-5">
            <div class="card">
                <header class="card-header">
                    <h3>User profile</h3>
                </header>
                <article class="card-body">

                    <form method="post">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}

                            </div>
                            {% if field.help_text %}
                                <small class="form-text text-muted"></small>
                            {% endif %}
                        {% endfor %}

                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </form>
                </article>
            </div>
        </div>
    </div>
        <div class="d-flex justify-content-center">
        <a href="{% url 'profile' %}" class="btn btn-primary">Back to profile</a>
    </div>
{% endblock %}
