{% extends 'base.html' %}

{% block head %}
    <title>New Report</title>
{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-5 my-5">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2 text-center">Edit Report</h4>
                </header>
                <article class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Start date</label>
                            <input type="text" name="start_date" class="form-control" placeholder="" value="{{ report.start_date|date:"Y-m-d H:i:s" }}">
                        </div>
                        <div class="form-group">
                            <label>End date</label>
                            <input type="text" name="end_date" class="form-control" placeholder="" value="{{ report.end_date|date:"Y-m-d H:i:s" }}">
                        </div>
                        <p>
                            <small class="text-muted text-center">Provide start date and end date of report.
                            </small>
                        </p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Edit Report</button>
                        </div> <!-- form-group// -->

                    </form>
                </article>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'reports' %}" class="btn btn-primary text-center">Back to list</a>
    </div>
{% endblock %}