{% extends 'base.html' %}

{% block head %}
    <title>Reports</title>
{% endblock %}

{% block body %}
    <h3>Reports</h3>
    <a class="btn btn-primary" href="{% url 'create_report' %}">Create Report</a>

    <ul>
        {% for report in reports %}
            <li><b>{{ report.start_date.date }} - {{ report.end_date.date }}</b>
                <a href=" {% url 'show_visual_report' report.id %}">Show visual report</a>
                <a href=" {% url 'show_text_report' report.id %}">Show text report</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}