{% extends 'base.html' %}

{% block head %}
    <title>Visual Report</title>
{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-12 my-5">
            <div class="card">
                <header class="card-header">

                    <h3 class="text-center card-title my-5">Visual Report</h3>

                </header>
                <article class="card-body">
                </article>

                <p class="text-center d-none">There was no sales</p>

                <div id="container"></div>
            </div>
        </div>
            <a href="{% url 'reports' %}" class="btn btn-primary">Back to list</a>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
            Highcharts.chart('container', {{ chart|safe }});
        </script>
{% endblock %}